# exclude from sdist
recursive-exclude .github *
recursive-exclude tslearn.egg-info *
exclude .readthedocs.yml
exclude azure-pipelines.yml
exclude sonar-project.properties
exclude .gitignore
exclude .git_archival.txt
exclude .gitattributes