Cython
numpy==1.19.5
scipy==1.4.1
scikit-learn
numba
sphinx>=1.6.1
ipykernel
nbsphinx
sphinx-gallery
pillow
tensorflow>=2
Pygments
numba
sphinx_bootstrap_theme
git+git://github.com/numpy/numpydoc@main
matplotlib
