Cython
numpy
scipy
scikit-learn<0.24
numba
sphinx>=1.6.1
ipykernel
nbsphinx
sphinx-gallery
pillow
tensorflow>=2
Pygments
numba
sphinx_bootstrap_theme
git+git://github.com/numpy/numpydoc@master
matplotlib
