scikit-learn<1.7
numpy
scipy
numba
tensorflow==2.9.0; python_version == '3.8'
tensorflow>=2; python_version != '3.8'
torch
sphinx>=1.6.1
ipykernel
nbsphinx
sphinx-gallery==0.15.0
pillow
Pygments
sphinx_bootstrap_theme
numpydoc
matplotlib